:root {
  --inter: "Inter", sans-serif;
  --helvetica: "Tex Gyre Heros", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@media screen {
  @supports (font-variation-settings: normal) {
    :root { 
      --inter: "InterVariable", sans-serif;
    }
  }
}
