.slide {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0 1em;
  page-break-after: always;
}

nav {
  width: 100vw;
  min-height: 100vh;
  page-break-after: always;
  padding: 1em;
}
