.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  page-break-after: always;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 1em;
}

nav {
  width: 100vw;
  min-height: 100vh;
  page-break-after: always;
  padding: 1em;
}
