* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-size: 1.5vmin;
}

body {
  font-family: var(--inter);
  line-height: 1.5;
}


ul {
  padding-inline-start: 2.5em;
}
