@layer reset {
  * {
    box-sizing: border-box;
  }

  body, html {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
  }

  body {
    font-family: "Tex Gyre Heros", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    line-height: 1.5;
  }
}
